<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css"
    integrity="sha512-3g+prZHHfmnvE1HBLwUnVuunaPOob7dpksI7/v6UnF/rnKGwHf/GdEq9K7iEN7qTtW+S0iivTcGpeTBqqB04wA=="
    crossorigin="anonymous" />
  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container mx-auto">
  <nav class="my-4">
    <ul class="text-blue-600 flex justify-around">
      <li><a href="/">Home</a></li>
      {{#if session.logged_in }}
      <li><a href="/my-account">My Account</a></li>
      <li><a href="/my-account/videos">My Videos</a></li>
      <li>
        <form action="/auth/logout" method="POST"><button type="submit">Logout</button></a>
        </form>
      </li>
      {{else}}
      <li><a href="/auth">Login</a></li>
      {{/if}}
    </ul>

  </nav>

  <div class="messages">
    {{#if success}}
    <div class="flash success">
      <p>{{success}}</p>
    </div>
    {{/if}}

    {{#if failure}}
    <div class="flash failure">
      <p>{{failure}}</p>
    </div>
    {{/if}}
  </div>
  <div class="main-wrapper">
    {{{body}}}
  </div>
</body>

</html>