{{#if video.transcoded }}
<h2 class="text-xl mb-2">{{video.title}}</h2>

<div class="video">
    {{!-- <p><strong>Thumbnail</strong></p>
    <img src="/videos/{{video.userId}}/{{video.watchId}}/tn.png" width=200/>
     --}}
    <video class="mx-auto mb-12" src="/watch/getVideo/{{video.watchId}}" height=400 width=700 style="background-color: #000" controls></video>

    <form action="/my-account/videos/edit/{{video.watchId}}" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{video.title}}">
        
        <label for="description">Description:</label>
        
        <textarea name="description" id="description" cols="30" rows="10">{{video.description}}</textarea>
        
        <div class="flex flex-col">            
            <label for="published mb-4">Publish this video? 
                <input type="checkbox" name="published" id="published" value="yes" {{#if video.published}}checked{{/if}}>
            </label>
            
            <button type="submit mt-4">Done</button>
        </div>
    </form>
</div>
{{else}}
<h1>Please wait - your video is being transcoded.</h1>
<h2>This page will refresh when the video has finished being processed.</h2>

<script type="text/javascript">
    var interval = setInterval(() => {
        window.fetch('/my-account/videos/{{video.watchId}}/getTranscodeStatus')
        .then( (data) => {
            return data.json();
        })
        .then ( (status) => {
            if (status.transcoded) {
                window.location = window.location;
            }
        })
    }, 1000);
</script>
{{/if}}

