{{#if video.transcoded }}
<h1>{{video.title}}</h1>

<div class="video">
    <p><strong>Thumbnail</strong></p>
    <img src="/videos/{{video.userId}}/{{video.watchId}}/tn.png" width=200/>
    <br/>
    <p><strong>Video</strong></p>
    <video src="/watch/getVideo/{{video.watchId}}" height=400 width=700 style="background-color: #000" controls></video>

    <form action="/my-account/videos/edit/{{video.watchId}}" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{video.title}}">
        <br/>
        <label for="description">Description:</label>
        <br/>
        <textarea name="description" id="description" cols="30" rows="10">{{video.description}}</textarea>
        <br/>
        <label for="views">Views: {{video.views}}</label>
        <br/>
        <label for="published">Publish this video? 
            <input type="checkbox" name="published" id="published" value="yes" {{#if video.published}}checked{{/if}}>
        </label>
        <br/>
        <button type="submit">Done</button>
    </form>
</div>
{{else}}
<h1>Please wait - your video is being transcoded.</h1>
<h2>This page will refresh when the video has finished being processed.</h2>

<script type="text/javascript">
    var interval = setInterval(() => {
        window.fetch('/my-account/videos/{{video.watchId}}/getTranscodeStatus')
        .then( (data) => {
            return data.json();
        })
        .then ( (status) => {
            if (status.transcoded) {
                window.location = window.location;
            }
        })
    }, 1000);
</script>
{{/if}}

