<nav class="subnav">
    <ul>
        <li><a href="/my-account/videos">My videos</a></li>
        <li><a href="/my-account/uploader">Upload a video</a></li>
    </ul>
</nav>

<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Channel Name: {{user.channelName}}</p>
<p>Created At: {{user.createdAt}}</p>
<p>Last Updated At: {{user.updatedAt}}</p>