<nav>
    <ul class="text-blue-600">
        <li><a href="/my-account/videos">My videos</a></li>
        <li><a href="/my-account/uploader">Upload a video</a></li>
    </ul>
</nav>
<div class="videos mt-6 flex flex-wrap justify-evenly items-stretch">
    {{#each videos}}
       <div class="video max-w-xs h-100 flex flex-col items-start">
           <a class="self-auto" href="/watch?id={{this.watchId}}"><img class="mb-2" src="/videos/{{this.userId}}/{{this.watchId}}/tn.png" alt="{{this.title}}"></a>
           <p class="text-sm mb-2 text-blue-600"><strong><a href="/watch?id={{this.watchId}}">{{this.title}}</a></strong></p>
           <p class="text-xs mb-2 justify-end">{{this.User.firstName}} {{this.User.lastName}} - {{this.createdAt}}</p>
       </div>
    {{/each}}
</div>
