<nav>
    <ul class="text-blue-600">
        <li><a href="/my-account/videos">My videos</a></li>
        <li><a href="/my-account/uploader">Upload a video</a></li>
    </ul>
</nav>
<div class="videos mt-6 flex flex-wrap justify-evenly items-stretch">
    {{#each videos}}
       <div class="video max-w-xs h-100 flex flex-col items-start">
           <a class="self-auto" href="/my-account/videos/edit/{{this.watchId}}"><img class="mb-2" src="/videos/{{this.userId}}/{{this.watchId}}/tn.png" alt="{{this.title}}"></a>
           <p class="text-sm mb-2 text-blue-600"><strong><a href="/my-account/videos/edit/{{this.watchId}}">{{this.title}}</a></strong></p>
           <form action="/my-account/videos/delete/{{this.watchId}}" method="POST">
            <button type="submit">Delete</button>
           </form>
       </div>
    {{/each}}
</div>
